{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}


{% block body %}
	{# <form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
	
			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<label for="inputPassword">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
	
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	
			<button class="btn btn-lg btn-primary" type="submit">
				Sign in
			</button>
		</form> #}

	<div class="w-1/2 mx-auto overflow-hidden bg-white rounded-lg shadow-md bg-gray-800">
		<div class="px-6 py-4">
			<div class="flex justify-center mx-auto">
				<img class="w-auto h-7 sm:h-8" src="https://merakiui.com/images/logo.svg" alt="">
			</div>

			<h3 class="mt-3 text-xl font-medium text-center text-gray-200">Se connecter</h3>

			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}


			<form method="post">
				<div class="w-full mt-4">
					<input value="{{ last_username }}" name="email" id="inputEmail" class="block w-full px-4 py-2 mt-2 text-gray-700 border rounded-lg bg-gray-800 border-gray-600 placeholder-gray-400 focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300" type="email" placeholder="Email" aria-label="Email"/>
				</div>

				<div class="w-full mt-4">
					<input name="password" id="inputPassword" class="block w-full px-4 py-2 mt-2 text-gray-700  border rounded-lg bg-gray-800 border-gray-600 placeholder-gray-400 focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300" type="password" placeholder="Mot de passe" aria-label="Mot de passe"/>
				</div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="flex items-center justify-between mt-4">
					<a href="#" class="text-sm text-gray-200 hover:text-gray-500">Mot de passe oublié ?</a>

					<button type="submit" class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
						Se connecter
					</button>
				</div>
			</form>
		</div>

		<div class="flex items-center justify-center py-4 text-center bg-gray-700">
			<span class="text-sm text-gray-200">Pas encore de compte ?
			</span>

			<a href="{{ path('auth.register') }}" class="mx-2 text-sm font-bold text-blue-400 hover:underline">S'inscrire</a>
		</div>
	</div>
{% endblock %}
