<div class="max-w-xs overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 ">
	<a href="{{ path('app.categories.product', { 'category': product.category, 'product': product }) }}" class="flex flex-col min-h-20">
		<div class="px-4 py-2 min-h-36">
			<h1 class="text-xl font-bold text-gray-800 uppercase dark:text-white">{{ product.title|slice(0, 30) ~ '...' }}</h1>
			<p class="mt-1 text-sm text-gray-600 dark:text-gray-400 ">{{ product.description|slice(0, 100) ~ '...' }}</p>
		</div>

		<img class="object-cover w-full h-48 mt-2" src="{{ "/" ~ products_path ~ "/" ~ product.pictures.first }}" alt="{{ product.title }}">

		<div class="flex items-center justify-between px-4 py-2 bg-gray-900 ">
			<h1 class="text-lg font-bold text-white">{{ product.price|price }}</h1>
			{# <a href="{{ path('app.categories.product', { 'category': current_category ?? product.category, 'product': product }) }}" class="px-2 py-1 text-xs font-semibold text-gray-900 uppercase transition-colors duration-300 transform bg-white rounded hover:bg-gray-200 focus:bg-gray-400 focus:outline-none">VOIR LE PRODUIT</a> #}
		</div>
	</a>
</div>
